#ont {
    fill: grey;
    stroke: white;
    stroke-width: 0.25;
  }

  h1 {
    font-family: monospace;
}

.background {
  fill: white;
}
.feature {

  cursor: pointer;
}

.feature.active {
  fill: orange;
}
