#ont {
    fill: white;
    stroke: white;
    stroke-width: 0.2;
  }

  h1 {
    font-family: monospace;
}

.background {
  fill: white;
}
.feature {

  cursor: pointer;
}

.feature.active {
  fill: #9370DB;
}
